<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <script src="https://kit.fontawesome.com/cae5d463b6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
    <link rel="stylesheet" href="/assets/style/style.css">
    <script src="/assets/js/menu.js"></script>
    <script src="/assets/js/iconsHeader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
    $(document).ready(function() {
    $('#cep').mask($('#cep').attr('data-mask'));
    $('#telefone').mask('(00) 0000-0000');
    $('#whatsApp').mask('(00) 0000-0000');
    $('#cpfCnpj').mask('000.000.000-00', {reverse: true}); // Mask for CPF
    $('#cpfCnpj').mask('00.000.000/0000-00', {reverse: true}); // Mask for CNPJ
});
    </script>



  </head>
  <header>
    <nav class="headerBar">
      <div class="textHeader">Clientes</div>

      

      <!--          ICONES DE MENU FLUTUANTE DO HEADER             -->
      <div class="iconsHeaderContainer">
        <div class="iconsHeader">

          <!--          NOTIFICAÇÕES             -->
          <div class="notificationDiv">
            <div class="position-relative">
              <i class="fa-regular fa-bell" id="notificationBell" onclick="toggleMenu('nSubMenu')"></i>
              <!--          NOTIFICAÇÃO DINÂMICA             -->
              <span class="badge rounded-pill badge-notification bg-danger position-absolute top-0 start-100 translate-middle"></span>
            </div>
            <div class="notificationMenu" id="nSubMenu">
              <ul>
                <li><a href="#">Nenhuma Notificação</a></li>
              </ul>
            </div>
            
          </div>
          
          <!--          ACCOUNT MENU             -->
          <div class="accountMenuDiv">
            <img src="/assets/imgs/userPhoto.png" class="userPic" onclick="toggleMenu('subMenu')">
            <div class="accountMenu" id="subMenu">
              <div class="userInfo">
                <img src="/assets/imgs/userPhoto.png">
                <h2>Marlon Dias</h2>
              </div>
              <hr>
              <ul>
                <li class="notExpandable"><i class="fa-solid fa-arrow-right-from-bracket"></i><a href="/logout" class="link" id="logout"><p>Logout</p><span class="arrowHeaderMenu"> > </span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </nav>
  </header>
  <body>
  
    <!--          MENU LATERAL            -->
    <div class="sidebar">
  
      <!-- HOME BUTTON -->
        <a href="/home" class="homeButton">
          <span class="icon"><i class="fa-solid fa-house"></i></span>
          Início
        </a>
  
  
        <ul class="menu">
          <li class="expandable"><i class="fa-solid fa-user-group"></i><p>Clientes</p>
            <ul class="nested">
              <li><a href="/novo-cliente" class="link">Novo Cliente</a></li>
              <li><a href="/listar-clientes" class="link">Lista de Clientes</a></li>
            </ul>
          </li>
          <li class="expandable"><i class="fa-regular fa-clipboard"></i><p>Unidade Consumidora</p>
            <ul class="nested">
              <li><a href="/nova-unidade-consumidora" class="link">Nova U. Consumidora</a></li>
              <li><a href="/listar-unidades-consumidoras" class="link">Lista de U. Consumidoras</a></li>
            </ul>
          </li>
          <li class="expandable"></i><i class="fa-solid fa-arrow-trend-up"></i><p>Análise</p>
            <ul class="nested">
              <li><a href="/nova-analise" class="link">Nova Análise</a></li>
              <li><a href="/listar-analises" class="link">Lista de Análises</a></li>
            </ul>
          </li>
          <li class="expandable"><i class="fa-solid fa-receipt"></i></i><p>Refaturamento</p>
            <ul class="nested">
              <li><a href="/novo-refaturamento" class="link">Novo Refaturamento</a></li>
              <li><a href="/listar-refaturamentos" class="link">Lista de Refaturamentos</a></li>
            </ul>
          </li> 
          <li class="expandable"><i class="fa-solid fa-wrench"></i></i></i><p>Ajustes</p>
            <ul class="nested">
              <li><a href="/novo-ajuste" class="link">Novo Ajuste</a></li>
              <li><a href="/listar-ajustes" class="link">Lista de Ajustes</a></li>
            </ul>
          </li> 
          <li class="expandable"><i class="fa-solid fa-sack-xmark"></i><p>Cobrança Indevida</p>
            <ul class="nested">
              <li><a href="/nova-cobranca" class="link">Nova Cobrança</a></li>
              <li><a href="/listar-cobrancas" class="link">Listar Cobranças</a></li>
            </ul>
          </li>
        </ul>
        <hr>
  
        <ul>
          <li class="notExpandable"><i class="fa-solid fa-arrow-right-from-bracket"></i><a href="/logout" class="link" id="logout"><p>Logout</p></a></li> </li>
        </ul>   
          
    </div>
  
  
  <!-- CONTEUDO DA PAGINA ----------------------->
  <form id="form">
    <div class="formulario"  class="form" id="form">  
      <div class="addButtonDiv"><a href="/novo-cliente" class="buttonLink"><button type="button" class="addNovoButton">Add Novo</button></a></div>

      <div class="formArea">
      <div class="formContainer">
        <div class="form-row">
          <div>
            <input type="hidden" name="id"> 
            <input type="text" id="nome" name="nome" required placeholder="Nome">
          </div>
          
          <div>
            <input type="text" id="cpfCnpj" name="cpfCnpj" required placeholder="CPF/CNPJ">
          </div>
        </div>
        
        <div class="form-row">
          <div>
            <input 
                placeholder="Data de Nascimento" 
                name="dataDeNascimento"
                type="text" 
                id="dataDeNascimento" 
                onfocus="(this.type='date')"
                onchange="if (!this.value) {this.type='text'; this.value=''}"
                required
            />
        </div>
          
          
          
          
          <div>
            <input type="text" id="email" name="email" required placeholder="E-mail">
          </div>
        </div>
        <div class="form-row">
          <div>
            <input type="tel" id="whatsApp" name="whatsapp" required placeholder="WhatsApp">
          </div>
          
          <div>
            <input type="tel" id="telefone" name="telefone" required placeholder="Telefone">
          </div>
        </div>

        <div class="form-row">
          <div>
            <input type="text" id="endereco" name="endereco" required placeholder="Endereço">
          </div>
          
          <div>
            <input type="text" id="cep" name="cep" class=".cep" required placeholder="Cep" data-mask="00000-000">
          </div>
        </div>

        <div class="form-row">
          <div>
            <input type="text" id="cidade" name="cidade" required placeholder="Cidade">
          </div>
          
          <div>
            <select id="estado" name="estado" required>
              <option value="">Estado</option>
              <option value="Acre">Acre</option>
              <option value="Alagoas">Alagoas</option>
              <option value="Amapá">Amapá</option>
              <option value="Amazonas">Amazonas</option>
              <option value="Bahia">Bahia</option>
              <option value="Ceará">Ceará</option>
              <option value="Distrito Federal">Distrito Federal</option>
              <option value="Espírito Santo">Espírito Santo</option>
              <option value="Goiás">Goiás</option>
              <option value="Maranhão">Maranhão</option>
              <option value="Mato Grosso">Mato Grosso</option>
              <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
              <option value="Minas Gerais">Minas Gerais</option>
              <option value="Pará">Pará</option>
              <option value="Paraíba">Paraíba</option>
              <option value="Paraná">Paraná</option>
              <option value="Pernambuco">Pernambuco</option>
              <option value="Piauí">Piauí</option>
              <option value="Rio de Janeiro">Rio de Janeiro</option>
              <option value="Rio Grande do Norte">Rio Grande do Norte</option>
              <option value="Rio Grande do Sul">Rio Grande do Sul</option>
              <option value="Rondônia">Rondônia</option>
              <option value="Roraima">Roraima</option>
              <option value="Santa Catarina">Santa Catarina</option>
              <option value="São Paulo">São Paulo</option>
              <option value="Sergipe">Sergipe</option>
              <option value="Tocantins">Tocantins</option>
            </select>
            
          </div>
        </div>
        <div class="buttonContainer">
          <button type="submit" class="salvarButton">Salvar</button>
        </div>
      </div>
    </div>
    </div>
  </form> 
  <script src="/assets/js/novoCliente.js"></script>
  <script>
    const dateInput = document.getElementById("dataDeNascimento");
    
    dateInput.addEventListener('focus', () => {
        const today = new Date().toISOString().substr(0, 10);
        const dateValue = dateInput.value;
        const [year, month, day] = dateValue.split("-");
        const formattedDate = `${day}/${month}/${year}`;
        
        if (!dateValue) {
            dateInput.value = "";
        } else {
            dateInput.value = formattedDate;
        }
    });
    dateInput.addEventListener('input', (event) => {
        const year = event.target.value.split("-")[0]; // extract year from input value
        const today = new Date().toISOString().substr(0, 10);
        if (year.length > 4) {
            event.target.setCustomValidity("Ano inválido. Digite um ano com até 4 dígitos");
        } else if (event.target.value > today) {
            event.target.setCustomValidity("A data de nascimento não pode ser no futuro");
        } else {
            event.target.setCustomValidity("");
        }
    });
</script>
</body>
